<tr class="table_row">  
  <td>
    <%= log.member_last_name %>
  </td>

  <td>
    <%= log.member_first_name %>
  </td>

  <td>
    <%= log.staff_last_name %>
  </td>

  <td>
    <%= log.created_at.strftime("%m-%d-%Y %l:%M:%S %p") %>
  </td>

  <td>
    <%= log.date.strftime('%m-%d-%Y') %>
  </td>

  <td>
    <%= link_to "Show", log %><br>
    <%= link_to "Edit", edit_log_path(log) %><br>
    <%= link_to "Delete", log, method: :delete, data: { confirm:
      "Are you sure you want to delete this log?" } %>
  </td>

  <td>
    <% if log.nbs? %>
      <span class="glyphicon glyphicon-ok"></span></td>
    <% else %>
      <span class="glyphicon glyphicon-remove"></span></td>
    <% end %>
  </td>

  <td>
    <%= link_to "", process_log_path(log_id: log.id,
      css_id: status_id_maker(log.id), format: :js),
      class: "btn btn-default status_button #{status_css_maker(log)}",
      id: status_id_maker(log.id), method: "get", remote: true %>
  </td>
</tr>
