<tr class="table_row">  
  <td>
    <%= log.member_last_name %>
  </td>

  <td>
    <%= log.staff_last_name %>
  </td>

  <td>
    <%= log.created_at.strftime("%m-%e-%Y %l:%M:%S %p") %>
  </td>

  <td>
    <%= link_to "Show", log %><br>
    <%= link_to "Edit", edit_log_path(log) %><br>
    <%= link_to "Delete", log, method: :delete, data: { confirm:
      "Are you sure you want to delete this log?" } %>
  </td>

  <td>
    <%= link_to "", process_log_path(log_id: log.id,
      css_id: status_id_maker(log.id)),
      class: "btn btn-default status_button",
      id: status_id_maker(log.id), method: "get", remote: true %>
  </td>
</tr>
