<div id="log_options">
  <div id="buttons_wrapper">
    <div id="delete_button_wrapper">
      <div class="btn-group" id="order-button">
        <button type="button" class="btn btn-danger dropdown-toggle"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Delete Logs <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to destroy_logs_path(older_than: 1),
              data: { :confirm => "Delete all logs older than 1 week?" },
              method: :get do %>
                Older Than 1 Week
            <% end %>
          </li>

          <li>
            <%= link_to destroy_logs_path(older_than: 4),
              data: { :confirm => "Delete all logs older than 1 month?" },
              method: :get do %>
                Older Than 1 Month
            <% end %>
          </li>

          <li>
            <%= link_to destroy_logs_path(older_than: 26),
              data: { :confirm => "Delete all logs older than 6 months?" },
              method: :get do %>
                Older Than 6 Months
            <% end %>
          </li>

          <li>
            <%= link_to destroy_logs_path(older_than: 52),
              data: { :confirm => "Delete all logs older than 1 year?" },
              method: :get do %>
                Older Than 1 Year
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div id="order_status_buttons_wrapper">
      <div class="btn-group" id="order-button">
        <button type="button" class="btn btn-primary dropdown-toggle"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Order By <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to url_for(params.merge({ order: :member_last_name,
              order_direction: "asc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Last Name (Member) <span class="glyphicon glyphicon-triangle-top"
                  aria-hidden="true"></span>
            <% end %>
          </li>
          
          <li>
            <%= link_to url_for(params.merge({ order: :member_last_name,
              order_direction: "desc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Last Name (Member) <span class="glyphicon glyphicon-triangle-bottom"
                  aria-hidden="true"></span>
            <% end %>
          </li>

          <li>
            <%= link_to url_for(params.merge({ order: :staff_last_name,
              order_direction: "asc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Last Name (Staff) <span class="glyphicon glyphicon-triangle-top"
                  aria-hidden="true"></span>
            <% end %>
          </li>

          <li>
            <%= link_to url_for(params.merge({ order: :staff_last_name,
              order_direction: "desc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Last Name (Staff) <span class="glyphicon glyphicon-triangle-bottom"
                  aria-hidden="true"></span>
            <% end %>
          </li>

          <li>
            <%= link_to url_for(params.merge({ order: :created_at,
              order_direction: "asc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Submitted <span class="glyphicon glyphicon-triangle-top"
                  aria-hidden="true"></span>
            <% end %>
          </li>

          <li>
            <%= link_to url_for(params.merge({ order: :created_at,
              order_direction: "desc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Submitted <span class="glyphicon glyphicon-triangle-bottom"
                  aria-hidden="true"></span>
            <% end %>
          </li>

          <li>
            <%= link_to url_for(params.merge({ order: :date,
              order_direction: "asc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Date of Service <span class="glyphicon glyphicon-triangle-top"
                  aria-hidden="true"></span>
            <% end %>
          </li>

          <li>
            <%= link_to url_for(params.merge({ order: :date,
              order_direction: "desc", status_sort: params[:status_sort] }).permit(:order, :order_direction, :status_sort)),
              method: :get do %>
                Date of Service <span class="glyphicon glyphicon-triangle-bottom"
                  aria-hidden="true"></span>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="btn-group" id="status_sort_button">
        <button type="button" class="btn btn-primary dropdown-toggle"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to url_for(params.merge({ order: params[:order],
              order_direction: params[:order_direction],
              status_sort: :all }).permit(:order, :order_direction, :status_sort)), method: :get do %>
                All
            <% end %>
          </li>
          
          <li>
            <%= link_to url_for(params.merge({ order: params[:order],
              order_direction: params[:order_direction],
              status_sort: :processed }).permit(:order, :order_direction, :status_sort)), method: :get do %>
                Processed
            <% end %>
          </li>

          <li>
            <%= link_to url_for(params.merge({ order: params[:order],
              order_direction: params[:order_direction],
              status_sort: :not_processed }).permit(:order, :order_direction, :status_sort)), method: :get do %>
                Not Processed
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
