<% provide(:title, "View Log") %>

<% logs_query = Log.order_home_at(Log.find(params[:id])) %>

<% unless logs_query.count < 2 %>
  <div id="next_previous_buttons">
    <div id="previous_button">
      <%= link_to log_path(logs_query.previous[:id]),
        class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-arrow-left"></span> Previous
      <% end %>
    </div>

    <div id="next_button">
      <%= link_to log_path(logs_query.next[:id]),
        class: "btn btn-primary" do %>
        Next <span class="glyphicon glyphicon-arrow-right"></span>
      <% end %>
    </div>
  </div>
<% end %>

<div class="table-responsive" id="log_show_table">
  <table class="table table-striped">
    <tbody>
      <tr class="table_row">
        <td class="col-sm-6">
          <strong>Last Name (Staff)</strong>
        </td>
        <td class="col-sm-6">
          <%= log.staff_last_name %>
        </td>
      </tr>

      <tr class="table_row">
        <td>
          <strong>First Name (Member)</strong>
        </td>
        <td>
          <%= log.member_first_name %>
        </td>
      </tr>

      <tr class="table_row">
        <td>
          <strong>Last Name (Member)</strong>
        </td>
        <td>
          <%= log.member_last_name %>
        </td>
      </tr>

      <tr class="table_row">
        <td>
          <strong>Date</strong>
        </td>
        <td>
          <%= log.date.strftime('%m-%d-%Y') %>
        </td>
      </tr>

      <tr class="table_row">
        <td>
          <strong>Duration (minutes)</strong>
        </td>
        <td>
          <%= log.duration %>
        </td>
      </tr>

      <tr class="table_row">
        <td>
          <strong>Start Time</strong>
        </td>
        <td>
          <%= log.start_time %>
          <% if log.updated_at < DateTime.new(2019, 2, 7) %>
            <br>
            Note that when this log was created, <em>Start Time</em> was <em>End Time</em>
          <% end %>
        </td>
      </tr>

      <tr class="table_row">
        <td>
          <strong>Activity Log</strong>
        </td>
        <td>
          <%= log.activity_log %>
        </td>
      </tr>

      <tr class="table_row">
        <td>
          <strong>Follow-up</strong>
        </td>
        <td>
          <%= log.follow_up %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Services</h2>

<div class="table-responsive" id="log_show_services_table">
  <table class="table">
    <tbody>
      <tr class="info table_row">
        <td>
          <strong>Face-to-Face</strong>
        </td>

        <td>
          <strong>Education Support</strong>
        </td>

        <td>
          <strong>Pre-Vocational</strong>
        </td>

        <td>
          <strong>Transitional Employment</strong>
        </td>

        <td>
          <strong>Intensive Supported Employment</strong>
        </td>

        <td>
          <strong>Ongoing Supported Employment</strong>
        </td>

        <td>
          <strong>Psychosocial Rehabilitation</strong>
        </td>

        <td>
          <strong>Habilitation</strong>
        </td>

        <td>
          <strong>Family Support</strong>
        </td>
      </tr>

      <tr class="table_row">
        <%= checkbox_glyph_chooser(log.face_to_face) %>

        <%= checkbox_glyph_chooser(log.education_support) %>

        <%= checkbox_glyph_chooser(log.pre_vocational) %>

        <%= checkbox_glyph_chooser(log.transitional_employment) %>

        <%= checkbox_glyph_chooser(log.intensive_supported_employment) %>

        <%= checkbox_glyph_chooser(log.ongoing_supported_employment) %>

        <%= checkbox_glyph_chooser(log.psychosocial_rehabilitation) %>

        <%= checkbox_glyph_chooser(log.habilitation) %>

        <%= checkbox_glyph_chooser(log.family_support) %>
      </tr>
    </tbody>
  </table>
</div>

<br>

<div id="log_show_nbs">
  <h4 id="nbs_header">
    No Billable Service (NBS)?
  </h4>

  <div id="nbs_value">
    <% if log.nbs? %>
      <span class="glyphicon glyphicon-ok"></span></td>
    <% else %>
      <span class="glyphicon glyphicon-remove"></span></td>
    <% end %>
  </div>
</div>

<br>

<p id="status_button_text">
  Processed?
  <%= link_to "", process_log_path(log_id: log.id,
    css_id: status_id_maker(log.id), format: :js),
    class: "btn btn-default status_button #{status_css_maker(log)}",
    id: status_id_maker(log.id), method: "get", remote: true %>
</p>
<br>
<p><strong>Submitted:</strong>
  <%= log.created_at.strftime("%m-%d-%Y %l:%M:%S %p") %></p>
<p><strong>Updated:</strong>
  <%= log.updated_at.strftime("%m-%d-%Y %l:%M:%S %p") %></p>
<br>
<%= link_to "<< Back to Logs", logs_path %>
| <%= link_to "Edit", edit_log_path(log) %>
| <%= link_to "Delete", log, method: :delete, data: { confirm:
  "Are you sure you want to delete this log?" } %>
