<p>Last Name (Staff): <%= log.staff_last_name %></p>
<p>First Name (Member): <%= log.member_first_name %></p>
<p>Last Name (Member): <%= log.member_last_name %></p>
<p>Date: <%= log.date %></p>
<p>Duration (minutes): <%= log.duration %></p>
<p>Start Time: <%= log.start_time %></p>
<p>Activity Log: <%= log.activity_log %></p>
<p>Follow-up: <%= log.follow_up %></p>
<br>-Services-<br>
<p>Face-to-Face: <%= checkbox_glyph_chooser(log.face_to_face) %></p>
<p>Education Support: <%= checkbox_glyph_chooser(log.education_support) %></p>
<p>Pre-Vocational: <%= checkbox_glyph_chooser(log.pre_vocational) %></p>
<p>Transitional Employment:
  <%= checkbox_glyph_chooser(log.transitional_employment) %></p>
<p>Intensive Supported Employment:
  <%= checkbox_glyph_chooser(log.intensive_supported_employment) %></p>
<p>Ongoing Supported Employment:
  <%= checkbox_glyph_chooser(log.ongoing_supported_employment) %></p>
<p>Psychosocial Rehabilitation:
  <%= checkbox_glyph_chooser(log.psychosocial_rehabilitation) %></p>
<p>Habilitation: <%= checkbox_glyph_chooser(log.habilitation) %></p>
<p>Family Support: <%= checkbox_glyph_chooser(log.family_support) %></p>
<br>
<p id="status_button_text">
  Processed?
  <%= link_to "", process_log_path(log_id: log.id,
    css_id: status_id_maker(log.id), format: :js),
    class: "btn btn-default status_button #{status_css_maker(log)}",
    id: status_id_maker(log.id), method: "get", remote: true %>
</p>
<br>
<p>Submitted: <%= log.created_at.strftime("%m-%e-%Y %l:%M:%S %p") %></p>
<p>Updated: <%= log.updated_at.strftime("%m-%e-%Y %l:%M:%S %p") %></p>
<br>
<%= link_to "<< Back to Logs", logs_path %>
| <%= link_to "Edit", edit_log_path(log) %>
| <%= link_to "Delete", log, method: :delete, data: { confirm:
  "Are you sure you want to delete this log?" } %>
